/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111; /* Dark background color */
    color: #fff; /* Light text color */
}

header {
    background-color: #222; /* Darker background color for header */
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.photo {
    margin: 10px;
    border-radius: 10px; /* Smooth corners */
    overflow: hidden;
    position: relative;
}

.photo img {
    display: block;
    width: 200px; /* Adjust as needed */
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition on hover */
}

.photo:hover img {
    transform: scale(0.9); /* Increase size on hover */
    border-radius: 10px;
}

footer {
    background-color: #222; /* Darker background color for footer */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.instagram-icon {
    width: 30px; /* Adjust size as needed */
    height: auto;
}



/* Existing CSS styles remain unchanged */

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
    z-index: 9999;
    text-align: center;
}

.lightbox-img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
}

.close-btn {
    color: #fff;
    font-size: 3em;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}
